//
//  Sample.xcconfig
//  TransactionAppMobile
//
//  Created by Renato Martins on 26/08/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
DEVELOPMENT_TEAM =
BASE_URL = [url_backend]
ENV = local
BUILD_TYPE = Debug
APP_NAME = [Local]TransactionsApp
APP_BUNDLE_ID = com.transactionsapp.TransactionsAppMobile.local
